# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Database
db.sqlite3

# Node modules
node_modules/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db






